$body-color: hsl(0, 0%, 94%);
$error-color: hsl(0, 100%, 67%);
$app-bg: hsl(0, 0%, 100%);
$date-color: hsl(0, 1%, 44%);
$input-border-color: hsl(0, 0%, 86%);
$purple: hsl(259, 100%, 65%);
$hover-color: hsl(0, 0%, 8%);
